:root{

    --primary: #1196F5;
    --blanco: #fff;
    --negro: #000;
    --gris1: #C4C4C4;
    --gris2: #807C7C;
    --gris3:#565555;
    --secundario: #0097a7;
    --oscuro: rgb(0, 0, 0);
}

.bg-primary {
    background-color: var(--primary) ;
}

.bar .container {
    padding: 15px 0px;
    display: flex;
    justify-content: end;
}

.bar .container a:last-of-type {
    margin-left: 10px;
}

.logo{
    height: 100px;
}

/* Estilos Cover */

.cover_container {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover_img {
    /* width: 100%; */
    height: 400px;
    background-image: url("../img/Cover.jpg");
    background-size: cover;
}

.cover_title, .cover_subtitle  {
    color: white;
}

.cover_title {
    font-size: 3rem;
    font-weight: bold;
}

.cover_subtitle {
    color: white;
    font-size: 1rem;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}

h1 {
    text-align: center;
    color: var(--primary);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Estilos de las Cajas o Cards */

.card_container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: var(--gris1);
    border-radius: 5px;
    padding: 1rem;
    height: 350px;
    position: relative;
}

.card_image {
    background-image: url("../img/GestionTransporte.png");
    background-repeat: no-repeat;
    height: 100px;
    margin-bottom: 1rem;;
}

.card_title {
    color: var(--gris3);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card_text {
    color: var(--gris2);
}

.card_button {
    position: absolute;
    top: 85%
}

/* Footer */

footer {
    background-color: var(--primary);
}

.footer_img_container {
    width: 100%;
}

.footer_logo {
    width: 100%;
}

.footer_redes  {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer_redes img {
    width: 50px;
}

.footer_lists h3 {
    color: var(--blanco);
}

.footer_lists ul li {
    list-style: none;
}

.footer_lists ul li a, .footer_lists ul li {
    color: var(--blanco);
    text-decoration: none;
}
